table {
    position: relative;
    left: 33%;
    margin-top: 140px;
}

td {
    border:1px solid black;
    text-align: center;
}

th, td {
    width: 100px;
    height: 100px;
    font-size: 25px;
}

.square {
    color: #ffffff;
    background-image: linear-gradient(#ffffff, #d9d9d9);
    width: 100px;
    height: 100px;
}

#reset {
    position:relative;
    left:48%;
    margin-top: 40px;
}